* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul.left {
    flex-grow: 1;
}

nav ul.left li {
    margin-right: 20px;
}

nav ul.right li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* Estilos para los botones de sección */
.btn-seccion {
    /* background-color: #28a745; Color verde para diferenciar de inicio */
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

/* .btn-seccion:hover {
    /* background-color: #218838; /* Un verde más oscuro al pasar el ratón 
}  */


.btn-inicio {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}
